{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Consulta Expedientes - Home{% endblock %}</title>

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Consulta Expediente
                </h2>
                <p>
                    Consulta Expediente es una plataforma donde puedes buscar varios expedientes de nacionalidad
                    española por residencia a la vez.<br/>
                    Accede a la plataforma, registra tantos clientes y procesos como quieras y el sistema
                    automáticamente los buscará a todos y los guardará en una hoja de cálculo o enviará una alerta.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}